.site-wrapper {
  background: $bg-color-light;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.inner {
  border: 1px solid transparent;
  max-width: 960px;
  margin: 0 auto;

  &.with-about-bar {
    padding-left: $about-sidebar-offset;
  }
}

.site-header {
  background: url('https://tomrijnbeek.nl/assets/img/layout/background.jpg');
  background-size: cover;
  margin-bottom: -$header-overlap;
  padding-bottom: $header-overlap;

  .site-header-content {
    color: $font-color-light;
    margin-bottom: 32px;
  }
}

.site-nav {
  display: flex;
  margin: 8px 0;

  .site-nav-left {
    flex: 1;
  }

  .site-nav-left,
  .site-nav-right {
    display: flex;
  }

  .site-nav-logo {
    color: $link-color-light;
    font-size: $font-size;
    font-variant: small-caps;
    padding: 4px 12px;
    text-decoration: none;
    
    &:hover {
      text-decoration: underline;
    }
  }

  .nav {
    @include list-unstyled();

    display: flex;

    li {
      margin: 0 4px;
      
      a {
        color: $link-color-light;
        padding: 8px 12px;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }

      &.nav-current {
        a {
          text-decoration: underline;
        }
      }
    }
  }

  .social-link,
  .rss-button {
    margin: 0 4px;

    svg {
      height: 1.5rem;

      circle,
      path {
        fill: $link-color-light;
      }
    }
  }
}

.site-main {
  flex: 1;

  .inner {
    display: flex;
  }
}

.about-me {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin-right: 16px;
  width: $about-sidebar-width;

  .about-me-img {
    border-radius: 50%;
    box-shadow: $high-elevation-shadow;
    display: block;
    height: $about-avatar-size;
    margin-top: ($about-avatar-size - $header-overlap) / 2;
    width: $about-avatar-size;
  }

  .about-me-name {
    color: #555;
    font-family: $font-family-serif;
    font-size: 18pt;
    font-variant: small-caps;
    margin: 8px 0;
  }

  .about-me-titles {
    color: #777;
    font-size: $footer-font-size;
  }

  .about-me-name,
  .about-me-titles {
    text-align: center;
  }
}

.post-feed,
.post-full {
  background: $bg-color-content;
  box-shadow: $low-elevation-shadow;
  flex: 1;
  padding: 16px;
}

.pagination {
  text-align: center;

  .page-number {
    margin: 0 8px;
  }
}

.extra-pagination {
  display: none;
}
.paged .extra-pagination {
  display: initial;
}

.site-footer {
  background: $bg-color-dark;
  color: $font-color-light;
}

.site-footer-content {
  display: flex;
  font-size: $footer-font-size;
  padding: 24px 0;

  .copyright {
    flex: 1;
  }

  .site-footer-nav {
    a {
      margin-left: 20px;
      position: relative;

      &:not(:first-child):before {
        background: $font-color-light;
        border-radius: 2px;
        content: "";
        height: 4px;
        left: -12px;
        position: absolute;
        top: 40%;
        width: 4px;
      }
    }
  }

  a {
    color: $link-color-light;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
