.post-feed {
  .post {
    border-bottom: 1px solid $border-color;
    padding: 16px 0;

    &:last-of-type {
      border-bottom: none;
    }
  }

  .post-header {
    .post-title {
      a {
        color: $font-color-dark;
        text-decoration: none;
      }
    }
  }

  .post-footer {
    text-align: right;
  }

  .post-meta {
    font-size: $footer-font-size;
  }
}

.post-nav {
  border-bottom: 1px solid $border-color;
  margin-bottom: $content-padding;
  padding: $content-padding 0;
}

.post-full {
  width: 100%;

  h2 {
    border-bottom: 1px solid $border-color;
    padding-bottom: 4px;
  }

  img {
    max-height: 500px;
    max-width: 100%;
  }

  .MJXc-display {
    overflow: auto;
  }
}

.post-full-image {
  height: 240px + $content-padding;
  margin: -$content-padding;
  overflow: hidden;
}

.post-full-image img {
  height: 240px;
  object-fit: cover;
  width: 100%;
}

.post-full-meta {
  margin-bottom: 24px;

  a, span, time {
    font-size: $footer-font-size;
  }
}
