.post {
  border-bottom: 1px solid #eee;
  padding: 16px 0;

  &:last-of-type {
    border-bottom: none;
  }
}

.post-header {
  .post-title {
    a {
      color: $font-color-dark;
      text-decoration: none;
    }
  }
}

.post-meta {
  font-size: $footer-font-size;
  text-align: right;
}
