h1 {
  font-weight: lighter;
}

p,
blockquote,
ol,
ul,
.p {
  font-size: $font-size;
  line-height: $line-height;
}

a {
  color: $link-color-dark;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
