// Fonts
$font-family: 'Source Sans Pro', sans-serif;

// Colours
$bg-color-dark: #111;
$bg-color-light: #f5f5f5;
$bg-color-content: white;

$font-color-dark: black;
$font-color-light: #ccc;

$link-color-dark: blue;
$link-color-light: white;
